@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.profile-card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
}

.image{
    margin-bottom: 10px;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius:50%;
    background-color:  #4070f4;
    padding: 3px;
}
.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
}
.profile-card .text{
    display: flex;
   flex-direction: column;
   align-items:center;
   color: #333;
}
.text .name {
    font-size: 22px;
    font-weight: 500;
}
.text .job {
    font-size: 15px;
    font-weight: 400;
}
.profile-card .media-buttons{ 

    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #4070f4;
    border-radius: 50px;
    font-size: 18px;
    height: 34px;
    width: 34px;
    margin: 0 8px;
    text-decoration: none;
}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;

}
.buttons .button{
    background-color: #4070f4;
    padding: 8px 24px;
    margin: 0 10px;
    border-radius: 24px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;



}
.buttons .button:hover{
    background-color: blue;
    text-decoration: none;


}
.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: center;
}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right:  2px solid #e7e7ee;
}
.data:last-child{
    border-right: none;
}
.data .i{
    font-size: 18px;
    margin-right: 6px;
}